header {
    /* width: 100%; */
    height: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    position: relative;
    /* top: 0; */
    z-index: 10;
    /* border-bottom: 1px solid #aaa9a9; */
    /* background-color: white; */
}

header .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #007bff;
}

.header-menu-left {
    position: relative;
    right: 150px;
}

.header-menu-right {
    position: relative;
    left: 150px;
}

.header-menu-right img {
    width: 40px;
    height: 40px;
}

.header-menu-left .icon-image {
    width: 40px;
    height: 40px;
    cursor: pointer;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.header-menu-left .icon-image:hover {
    filter: grayscale(0%);
}

body {
    font-family: Arial, sans-serif;
    background-color: #F0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    /* padding-top: 20px; 헤더랑 안겹치게 패딩 추가 */
}

.container {
    background-color: white;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 1000px;
    max-height: 70vh;
    overflow-y: auto;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: transparent;
}

input::placeholder {
    color: #ccc;
    opacity: 1;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
    background-color: transparent;
}

.icon-image {
    display: block;
    margin: 0 auto;
    /* margin-top: 10px; */
    width: 100px;
    height: 100px;
    border-radius: 50%; /* 이미지 원형 처리 */
    /* object-fit: cover; */
    background-color: transparent;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
    cursor: pointer;
    box-sizing: border-box;
}

.purple-button {
    background-color: #007bff;
    color: white;
}

.trans-button {
    background-color: #f0f0f0;
    color: black;
    margin-top: 5px;
}

.purple-button:hover {
    background-color: #0056b3;
}

button.purple-button:disabled {
    background-color: #656e77;
    cursor: not-allowed;
}

.email-container{
    display: flex;
    gap: 5px;
}

.email-container .input-box {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    background-color: transparent;
}

.border-button {
    background-color: transparent;
    border: 1px solid #000000;
    color: #000000;
    width: 20%;
    height: 10%;

}

.profile-icon {
    cursor: pointer;
    border-radius: 50%;
}

.dropdown-menu {
    display: block;
    position: absolute;
    top: 32px;
    right: 0;
    background-color: #F0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px #ccc;
    width: 125px;
    text-align: left;
    opacity: 0;
    visibility: hidden; /* 보이지 않도록 설정 */
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.dropdown-menu a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
}

.dropdown-menu a:hover {
    background-color: #ccc;
}

.header-menu-right:hover .dropdown-menu {
    visibility: visible; /* 보이도록 설정 */
    opacity: 90%;
}

.helperText {
    position: absolute; /*밀리지않게 위치고정*/
    display: block; /*블록요소로 자리잡고있기*/
    color: red;
    font-size: 12px;
    margin-top: 4px;
    line-height: 1.2;
    word-wrap: break-word; /*긴텍스트 줄바꿈*/
    width: 100%;
}

/* 모달 스타일 */
.modal {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
    opacity: 95%;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal-content {
    background-color: #F0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 5px #8e8e8e;
    text-align: center;
    max-width: 300px;
    width: 80%;
}

.modal h2 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.modal p {
    margin-bottom: 20px;
    font-size: 14px;
    color: #666;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 10px 30px;
}

.modal-cancel {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 35px;
}

.modal-confirm {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 35px;
}

body.modal-active {
    overflow: hidden;
}

.horizontal-rule {
    /* position: absolute; */
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #f0f0f0;
    margin-top: 30px;
    margin-bottom: 10px;
}