@import url('../css/global.css');

.message {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center; /* 텍스트 가운데 정렬 */
    font-size: 23px; /* 폰트 크기 설정 */
}

.bold {
    font-weight: bold; /* 볼드체 설정 */
}

button {
    width: 100px;
    border: none;
    border-radius: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    float: right;
}

.PostList {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box ;
}

.post-item {
    max-width: 600px;
    margin-bottom: 15px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.post-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-stats {
    display: flex;
    gap: 15px; /* 요소 간의 간격 조정 */
}

.post-date {
    font-size: 14px;
    color: #888;
    right: 0;
}

.divider {
    border: none;
    border-top: 1px solid #ddd;
    margin: 15px 0;
}

.post-author {
    display: flex;
    align-items: center;
}

.author-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #ccc; /* 이미지 대체 색상 */
}

.author-name {
    font-size: 16px;
    font-weight: bold;
}
