@import url('../css/global.css');

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content-box {
    width: 100%;
    height: 170px;
    border-color: #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: transparent;
}

textarea::placeholder {
    color: #ccc;
    opacity: 1;
}

.non-border {
    border: none;
}

.upload-image{
    display: flex;
    flex-direction: row;
    align-items: center;
}