@import url('../css/global.css');

.post-title{
    padding-top: 10px;
    text-align: start;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #aca0ec;
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
    height: 25px;
    padding: 0 10px;
    text-align: center;
    font-size: 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-left: auto;
}

.horizontal-rule {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin-top: 0;
    margin-bottom: 10px;
}

.content-img {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    background-color: #ccc;
    align-items: center;
    justify-content: center;
}

.content-img img {
    width: 100%; /* 이미지가 가로폭에 맞게 조정됨 */
    height: 100%; /* 이미지가 세로높이에 맞게 조정됨 */
    object-fit: contain; /* 이미지 잘리지않고 비율유지 */
}

.content {
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.like-count {
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 110px;
    height: 80px;
}

.view-count {
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 110px;
    height: 80px;
}

.comment-count {
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 110px;
    height: 80px;
}

.comment-input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.comment {
    margin-top: 20px;
    border: #f0f0f0;
}

.comment-input textarea {
    width: 100%;
    height: 70px;
    padding: 10px;
    border: none;
    box-sizing: border-box;
}

.divider {
    border: none;
    border-top: 1px solid #ddd;
    margin: 15px 0;
}

.profile-icon2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.post-item {
    max-width: 600px;
    padding: 20px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.post-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-info-2 {
    display: flex;
    flex-direction: column;
    left: 0;
}

.post-stats {
    display: flex;
    gap: 15px; /* 요소 간의 간격 조정 */
}

.post-date {
    font-size: 14px;
    color: #888;
    right: 0;
}

.divider {
    border: none;
    border-top: 1px solid #ddd;
    margin: 15px 0;
}

.post-author {
    margin-right: 10px;
}

.author-name {
    font-size: 16px;
    font-weight: bold;
}

.comment-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px
}

.comment-author {
    margin-right: 10px;
}

.comment-item-2 {
    display: flex;
    flex-direction: column;
    left: 0;
    /* width: 100% */
}

.comment-content{
    font-size: 15px;
    margin-left: 55px;
}

p {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    white-space: pre-wrap;
}

article.content {
    white-space: pre-wrap; /* 줄바꿈과 공백을 모두 유지 */
}

.like-count {
    cursor: pointer;
    pointer-events: auto;
}

/* 좋아요 호버 */
.like-count:hover {
    color: red;
}

/* 좋아요 눌려있을 때 */
.like-count.liked {
    color: red;
}

.no-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 16px;
    margin: 10px 0;
}