@import url('../css/global.css');


.edit-form{
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}


#profile-helper {
    color: #ff0000;
    font-size: 12px;
    display: block;
}

.icon-image {
    margin-top: 20px;
}

.toast {
    visibility: hidden; /* 기본적으로 숨김 */
    min-width: 50px;
    background-color: #ACA0eB;
    color: #fff;
    text-align: center; /* 텍스트 중앙 정렬 */
    border-radius: 15px;
    padding: 10px;
    position: fixed;
    left: 50%; /* 중앙 정렬 */
    bottom: 50px; /* 아래에서의 위치 */
    font-size: 12px;
    transition: visibility 0s, opacity 0.5s linear; /* 페이드 효과 */
    opacity: 0;
    transform: translateX(-50%);
}

.toast.show {
    visibility: visible;
    opacity: 1;
}
